h1,
h2,
h3,
h4,
h6 {
  color: black;
}
.divider {
    width: 2px;
    background-color: #b4b4b442;
    height: 80%;
}
.itsupport {
  width: 1229px;
  display: flex;
  height: 225px;
  align-items: center;
  box-shadow: rgb(100 100 111 / 10%) 0px 0px 15px;
  /* margin-left: 44px; */
  margin-top: 20px;
}

.team {
  flex: 1;
}
.extensive {
  flex: 1;
}
.shipping {
  flex: 1;
}
.itsupporticons {
  color: #0154ab;
  width: 55px;
  height: 50px;
  margin-top: 40px;
}
.supportcardparagraph {
  color: black;
  font-size: 13px;
}
